<!DOCTYPE html>
<html>
  <head>
    <title>HTML5 Server Side Event Example in Go</title>

    <script
       src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
       integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="
       crossorigin="anonymous"></script></head>

  <link rel="stylesheet" href="/static/index.css">
<!--
  <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.1/react.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.1/react-dom.js"></script>
-->
  <script src="/static/script.js">
  </script>

  <body>

    <h1>Pods</h1>

    <div id="podinfo"></div>

  </body>
</html>
